.buttons {
	position: relative;
	height: 120px;
	width: 320px;
}
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 24px;
}
button {
	font-size: 24px;
	padding: 14px 22px;
	position: absolute;
}
#yes {
	left: 18%;
	top: 50px;
	z-index: 5;
	color: rgb(237, 31, 127);
	transform-origin: top center;
}
#no {
	left: 58%;
	top: 50px;
	z-index: 1;
	color: rgb(237, 31, 127);
}
h1 {
	position: relative;
	z-index: 10;
	color: rgb(237, 31, 127);
}
#result {
	position: relative;
	z-index: 10;
	color: rgb(237, 31, 127);
}
body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f3e5d8;
}
#result {
	margin-top: 200px;
	font-weight: bold;
}
@media (max-width: 600px) {
	h1 {
		font-size: 22px;
		white-space: nowrap;
	}
}
